<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/index.css">
  <title>Main Marvel Comics</title>
</head>

<body class="bg-secondary">

  <div id="marvel-app" class="container">

    <h1 class="text-center text-light">Marvel Comics</h1>

    <div v-if="errored">
      <p>Sorry, not able to retrieve this information 
        at the moment, please try back later</p>
    </div>

    <div v-else>
      <p class="text-center text-light" v-if="loading">Loading...</p>
    </div>

    <form class="center">
      <input type="text" 
      placeholder="Search 4 a Comic" 
      value="result.title" 
      class="form-control text-center" 
      v-model="comicSearch">

      <button 
      v-if="show" v-on:keyup.page-down="searchAction()" 
      class="btn btn-dark btn-lg width:18rem"
      >
      Search Comic
     </button>
    </form>
    
    <div>
      <ul v-if="show">
        <li v-for="comics in filteredComics" class="result-list text-light">
            <div class="box"><h5>{{comics.title}}</h5></div>
            <div>
              <p class="text-light">{{comics.description}}</p>
            </div>
        </li>
      </ul>
    </div>
    
    <!-- <ul class="bg-dark">
      <li v-for="result in marvelResults">
        <div>
          <h5 class="text-light">{{result.title}}</h5>
        </div>
      </li>
    </ul>  -->
  </div> 

  <footer class="text-center">
    <a href="http://marvel.com\">
      Data provided by Marvel. © 2020 MARVEL
    </a>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="src/main.js"></script>
</body>

</html>